html {
    background-color: #404040;
}

body {
    width: 648px;
    margin: 0 auto;
    border: 1px solid black;
}

.homeLayout {
    height: 728px;
    /* background-color: rgb(131, 52, 114); */
    /* background: linear-gradient(to bottom , rgb(128, 40, 109), rgb(133, 49, 114), rgb(146, 59, 127), rgb(187, 135, 176)); */
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb6e8d8 60%);
    box-shadow: 2px 5px 2px 2px rgb(126, 104, 121) ;
}

#image {
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image2 {
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

fieldset {
    width: 300px;
    height: 30px;
    margin: 30px auto;
    background-color: rgba(235, 228, 228, 0.726);
    text-align: center;
    font-size: 28px;
    border-radius: 5px;
}

fieldset:active {
    background: linear-gradient(to bottom, rgba(235, 228, 228, 0.616), rgba(128, 128, 128, 0.596));
    /* box-shadow: 3px 3px 2px 1px rgba(235, 228, 228, 0.616); */
}

#description {
    height: 15px;
    margin-top: 50px;
    width: 450px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    pointer-events: none;
    background-color: rgb(230, 225, 225);
}

.diffs {
    margin-left: 70px;
}

.diffs > fieldset{
    width: 100px;
    font-size: 17px;
    float: left;
    margin: 5px 20px;
    margin-bottom: 15px;
    height: 30px;
}

#easy {
    background-color: rgb(130, 202, 163);
}

#normal {
    background-color: rgba(255, 255, 0, 0.788);
}

#hard {
    background-color: rgb(255, 145, 0);
}

#veryHard {
    background-color: violet;
}

#insane {
    background-color: rgba(255, 0, 0, 0.719);
}

#impossible {
    background-color: black;
    color: white;
}

.texts {
    user-select: none;
}

table {
    border-collapse: collapse;
    border: 4px solid rgb(65, 15, 54);
}

td {
    width: 14px;
    height: 14px;
    border: 1px solid rgb(126, 170, 45);
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}

.scoreBoard {
    margin: 0 auto;
    padding: 4px 10px;
    text-align: end;
    font-family: 'Abril Fatface', serif;
    font-size: 28px;
    /* background-color: cadetblue; */
    /* background: linear-gradient(to bottom, rgb(60, 19, 245) 5%, rgba(209, 99, 209, 0.966) 95%); */
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb6e8d8 60%);
    border: 4px solid rgb(65, 15, 54);
    border-bottom: 0px;
    color: rgb(226, 208, 185);
    font-weight: bold;
    text-shadow: 3px 2px 2px rgba(128, 128, 128, 0.534);
}

#backButton {
    margin: 5px 2px;
    height: 25px;
    width: 75px;
    float: left;
    border-radius: 25px 8px 8px 25px;
    font-size: 11px;
    font-weight: 600;
}

.presentation {
    width: 500px;
    height: 270px;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 900;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.26);
    color: rgb(20, 14, 2);
    border: 2px solid rgb(165, 42, 42, 0.705);
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb6e8d8 60%);
}

.presentation > p {
    margin: 0;
    margin-bottom: 3px;
}

.presentation > ul {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(243, 19, 19, 0.671);
    text-shadow: 0px 1px 1px black;
    font-size: 16px;
}

#creator {
    color: greenyellow;
    text-align: end;
}